.add-tour form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-tour form input,
textarea {
  margin-bottom: 10px;
  width: 40%;
}
.add-tour {
  height: 80vh;
  padding-top: 30px;
  margin-top: 40px;
}
